@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html{
    font-size: 62.5%;
}
body{
    font-family: helvetica, Arial, sans-serif;
    font-size: $m-size;
    font-family: $josefin;
}
button{
    font-family: $josefin;
    cursor: pointer;
}
button:disabled {
    cursor: default;
}
.is-active {
    font-size: $l-size;
}
